.container{
    background-color:#eceaea;
    margin: 2% 0;
}

.title{
    padding-left: 2%;
    padding-top: 1%;
    display: flex;
    align-items: baseline;
}

.viewMore{
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.recipes{
    display: grid;
    grid-template-columns: 1fr;
 }

@media screen and (min-width: 850px) {
    .recipes{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}

@media screen and (min-width: 1250px) {
    .recipes{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1650px) {
    .recipes{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}