.container{
    background-color:#eceaea; ;
    margin: 2% 0;
    /* padding: 10px; */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 2%;
}

.recipes{
    /* display: flex;
   justify-content: space-between; */
   display: grid;
   grid-template-columns:1fr 1fr 1fr;
}