.container{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    background-color:white;
}

.image{
    display: flex;
    padding: 2% 20%;
    align-self: center;
    width: 60%;
    background-color: rgba(219, 219, 219, 0.5);
}

@media screen and (min-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin: 20px 0;
        background-color:white;  
    }
    .image{
        width: 100%;
        padding: 30px 0;
        background-color: rgba(219, 219, 219, 0.5);
    }
}

.details{
    display: flex;
    flex-direction: column;
    border: 1px solid #e4d9d1;
    margin: 10px;
    padding: 20px 25px;
    justify-content: space-between;
}

.title{
    padding-bottom: 5% ;
    border-bottom: 3px solid #6ebe3b;
}

.details a{
    text-decoration: none;
    font-weight:bold;
    color: black;   
}

.details a:hover{
    color: #6ebe3b;   
}

.recommendationText{
    line-height: 2;
}

.otherInfo{
    font-size:14px;
    color: rgb(134, 133, 133);
    display: flex;
    justify-content: space-between;
}