.container{
    padding: 3%;  
    height: 94%;
}

.container:hover{
    background-color: #89c06a;
}

.textWapper{
    line-height: 1.5;
    text-align: center;
}

.title a{
    font-weight: 500;
}

.title a:hover{
    color: white;
}

.cookTime{
    margin-top: 10px;
    font-size: 14px;
    color: rgb(112, 112, 112);
}

.image{
  width: 100%;  
}