.container{
    margin: 0 5% 5% 5%;
}

.image{
    width: 100%;
}

.overview{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.otherInfo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.ingredient{
    margin: 5px 0;
    list-style: square;
}

.instruction{
    margin: 10px 0;
    line-height: 1.5;
}

@media screen and (min-width: 600px) {
    .overview{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10%;
        line-height: 1.5;
    }
    .otherInfo{
        margin-top: 0px;
    }
}

@media screen and (min-width: 800px) {
    .details{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5%;
    }
}

