.container{
    margin: 0 10%;
}

.categoryName{
    font-family: 'Lora', serif;
}

.recipes{
    display: flex;
    
} 

/* h2{
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 700;
} */

li{
    list-style: none;
}