.navbar {
    overflow: hidden;
    background-color: #6ebe3b;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: #33571c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #33571c;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #33571c;  
    color: white;
}
  
.dropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropContent a:hover {
    background-color: #33571c;
}
  
.dropdown:hover .dropContent {
    display: block;
}

.searchContainer {
    float: right;
  }
  
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
.searchContainer button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 16px;
    background:  #d5e7cb;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
.searchContainer button:hover {
    color: white;
    background-color: #34750b;
  }