.container{
    background-color: #6ebe3b;
}

.navList{
    display: flex;
    justify-content: space-around;
}

nav a{
    height: 60px;
    line-height: 60px;
    font-weight: 600;
    color: #33571c;
}

nav a:hover{
    color: white;
}